*{
    box-sizing: border-box;
    margin: 0;
}

:root{
    --cor-laranja: rgb(255, 153, 0);
    --cor-azul: rgb(0, 0, 255);
    --cor-preto: rgb(0, 0, 0);
}

header{
    background-color: var(--cor-laranja);
    padding: 20px;
    text-align: center;
    height: 120px;
    color: var(--cor-preto);
    font-size: 20px;
    font-weight: bolder;
    text-decoration: solid;
}

.menu-principal{
    background-image: linear-gradient(blue, rgb(3, 54, 74));
    padding: 10px;
    border: 1px solid black;
    height: 40px;
}

.menu-principal ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
  }
  
  .menu-principal a{
  
      text-decoration: none;
      color: white;
      }
  
  .menu-principal a:hover{
  
      text-decoration: underline;
      border: 1px;
      background-color: white;
      color: var(--cor-preto);
  }
    
.produtos{
    text-decoration: none;
    height: 400px;
    display: flex;
    flex-flow: row wrap;
    border: 2px solid black;
    align-items: center;
    top: 200px;
}

.produtos h2{
    width: 50%;
    padding: 10px;
    align-items: center;
}

footer{
    background-color: var(--cor-preto);
    color: white;
    padding: 10px;
    width: 100%;
    border: 10px;
    text-align: right;
}
