*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --cor-laranja: rgb(255, 153, 0);
    --cor-azul: rgb(0, 0, 255);
    --cor-preto: rgb(0, 0, 0);
}

header{
    background-color: var(--cor-laranja);
    padding: 20px;
    text-align: center;
    height: 100px;
    color: var(--cor-preto);
    font-size: 20px;
    font-weight: bolder;
    text-decoration: underline;
}

.menu-principal{
    background-image: linear-gradient(blue, rgb(3, 54, 74));
    padding: 10px;
    border: 1px solid black;
    height: 40px;
}

.menu-principal ul {
    display: flex;
    justify-content: space-evenly;
  }
  
  .menu-principal a{
  
      text-decoration: none;
      color: white;
      }
  
  .menu-principal a:hover{
  
      text-decoration: underline;
      border: 1px;
      background-color: white;
      color: var(--cor-preto);
  }
    
.produtos{

    width: 50%;
    text-align: center;
    top: 150px;
}

.produtos1{
    text-align: right;
    height: 50px;
    position: relative;
    top: 150px;
    text-align: center;
    width: 50%;
}

footer{
    margin-top: 500px;
    background-color: var(--cor-preto);
    color: white;
    padding: 15px;
    width: 100%;
    border: 10px;
}
