*{
    padding: 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 40px;
    color: rgb(10, 22, 88);
}

ul{
    display: inline;
}

header{
    background-color: rgb(189, 72, 13);
    }